* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 80px;
  position: absolute;
  width: 100%;
  z-index: 2;
  padding-left: 120px;
  padding-right: 120px;
}
.seporator {
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  width: 100%;
  height: 0;
  top: 80px;
}
.nav-logo {
  width: 90px;
  height: 20px;
  left: 0;
  top: 0;
}
.nav-menu {
  display: flex;
  justify-content: start;
  list-style: none;
  padding-left: 50%;
}
.nav-menu-item {
  padding-left: 27px;
}

.nav-menu-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: right;
  text-transform: uppercase;
}
.header-image {
  background-image: url("../img/header-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.header-image::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.container {
  max-width: 1600px;
  margin: auto;
}
.header {
  padding-top: 200px;
  min-height: 100vh;
}
.header-content {
  margin-top: 402px;
  margin-left: 612px;
  position: relative;
  z-index: 2;
}
.header-title {
  width: 710px;
  height: 170px;
  color: rgb(255, 255, 255);
  font-size: 84px;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
}
.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 340px;
  height: 50px;
  margin-top: 20px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.3);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.history-content {
  margin-top: 120px;
  margin-left: 612px;
  width: 708px;
  height: 443px;
}
.history-title {
  color: rgb(77, 77, 77);
  font-size: 55px;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
}
.history-conteiner {
  display: flex;
  align-items: center;
}
.history-text {
  color: rgb(77, 77, 77);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  width: 216px;
  height: 180px;
  padding-right: 36px;
}
.history-link {
  text-decoration: none;
  color: rgb(77, 77, 77);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}
.history-link::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  margin: 1px 0px;
  background: rgb(77, 77, 77);
}
.last_projects-content {
  margin-top: 120px;
  margin-left: 612px;
}
.last_projects-title {
  color: rgb(77, 77, 77);
  font-size: 55px;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
}
.last_projects-list {
  display: flex;
  justify-content: start;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.last_projects-link {
  padding-right: 23px;
  text-decoration: none;
  color: rgb(77, 77, 77);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.mini-number {
  color: rgb(184, 184, 184);
  font-size: 12px;
  font-weight: 400;
}
.last_projects-foto {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  margin: 40px 120px;
}
.last_projects-foto-link {
  text-decoration: none;
  position: relative;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  transition: opacity 0.5s, visibility 0.5s;
  margin: auto;
}

.last_projects-foto-img {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
}

.last_projects-foto-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.last_projects-foto-link:hover .last_projects-foto-text {
  display: block;
}
