* {
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: auto;
}
.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 80px;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.navbar::after {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  width: 87.5%;
  height: 0;
  left: 120px;
  top: 80px;
}
.nav-logo {
  width: 90px;
  height: 20px;
  left: 0;
  top: 0;
  margin-left: 120px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  list-style: none;
  padding-left: 1000px;
  margin-right: 120px;
}
.nav-menu-item {
  padding-left: 27px;
}

.nav-menu-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: right;
  text-transform: uppercase;
}
.header-image {
  background-image: url("../img/header-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.header-image::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.container {
  max-width: 1440px;
  margin: auto;
}
.header {
  padding-top: 94px;
  min-height: 195vh;
}
.header-content {
  margin-top: 402px;
  margin-left: 612px;
  position: relative;
  z-index: 2;
}
.header-title {
  width: 710px;
  height: 170px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 84px;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
}
.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 340px;
  height: 50px;
  margin-top: 20px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.3);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.section-history-content {
  margin-top: 120px;
  margin-left: 612px;
  width: 708px;
  height: 443px;
}
.section-history-title {
  color: rgb(77, 77, 77);
  font-family: Inter;
  font-size: 55px;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
}
.section-history-conteiner {
  display: flex;
}
.section-history-text {
  color: rgb(77, 77, 77);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
